@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #edf0f1;
    font-family: 'Lato', sans-serif;
}

body, html {
    height: 100%;
}

body {
    background-image: url("../images/background.jpg");
    height: 100%;
    font-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    letter-spacing: 0.2rem;
}

nav a {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #edf0f1;
    text-decoration: none;
    text-transform: capitalize;
    opacity: 0.6;
}

a:hover {
    opacity: 1;
}

.main-content {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: initial;
    letter-spacing: 0.35rem;
    text-transform: capitalize;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 20px;
    padding: 25px;
    text-align: center;
}

i {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 50px;
}


.projects-board {
    display: flex;
    flex-direction: row;
    height: 90%;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 400px;
    margin-right: 20px;
    margin-left: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border: solid white;
    background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
    background: rgba(0, 0, 0, 0.8);
}

.project-image {
    max-width: 80%;
    object-fit: contain;
}

.icons {
    opacity: 0.8;
    display: flex;
    justify-content: center;
    font-size: 1.35rem;
}

#icons-box {
    justify-content: space-around;
}

.image-container {
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
}

.corner-logo {
    max-width: 40px;
    object-fit: contain;
}

th, td {
    padding: 5px;
    text-align: end;
    vertical-align: top;
    background-color: transparent; /* Remove background fill */
    text-transform: uppercase; /* Make text all uppercase */
    border-radius: 0; /* Remove corner curve */

    color: #fff; /* White text */
    opacity: 0.8;
    height: 45px; /* Increase input height */
}


input, textarea {
    width: 100%;
    color: #ffffff;
    font-size: 15px;
    background-color: transparent;
    border: 2px solid #fff; /* 2px white border */
    opacity: 0.8;
}

button {
    width: 100%;
    height: 30px;
    font-size: 15px;
    background-color: transparent; /* Remove background fill */
    text-transform: uppercase; /* Make text all uppercase */
    border: 2px solid #fff; /* 2px white border */
}

input:valid, textarea:valid {
    background-color: transparent; /* Remove background fill */
    opacity: 0.8;
}

@media only screen and (min-width: 600px) {
    .contact-box {
        zoom: 1.2;
        -moz-transform: scale(1.2);
    }
}

@media only screen and (min-height: 1024px) {
    .contact-box {
        zoom: 1.5;
        -moz-transform: scale(1.5);
    }
}


@media only screen and (min-height: 1366px) {
    .contact-box {
        zoom: 2;
        -moz-transform: scale(2);
    }
}

@media (min-width: 470px) {

    .scaling-box {
        zoom: 1.2;
        -moz-transform: scale(1.2);
    }

}

@media (min-height: 1024px) {

    .scaling-box {
        zoom: 1.5;
        -moz-transform: scale(1.5);
    }

}

@media only screen and (min-height: 1366px) {

    .scaling-box {
        zoom: 2;
        -moz-transform: scale(2);
    }

}

@media (orientation: portrait) {

    @media (max-width: 470px) {

        .main-content {
            justify-content: space-between;
        }

    }

    @media (min-width: 470px) {

        #icons-box {
            font-size: 1.5rem;

        }

        .main-content {
            justify-content: space-around;
        }
    }

    @media (min-height: 1024px) {
        #icons-box {
            zoom: 1.6;
            -moz-transform: scale(1.6);
        }
    }

}
