<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - BT</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/Profile-Card-1.css">
    <link rel="stylesheet" href="assets/css/Projects-Clean.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="57">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#page-top">BT</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about">projects</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="#portfolio">experience</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="text-center text-white d-flex masthead" style="background: url(&quot;assets/img/IMG_3207.jpg&quot;) center / cover no-repeat;padding-top: 20px;">
        <div class="container my-auto">
            <div class="row d-lg-flex align-items-lg-center" style="height: 650px;margin-top: 40px;">
                <div class="col-lg-12 col-xxl-12 mx-auto" style="height: 77.453px;">
                    <h1 class="text-uppercase" style="font-size: 80px;"><strong style="padding-top: 0px;margin-top: 0px;">bertie taylor</strong></h1>
                    <p class="text-faded mb-5" style="margin-bottom: 0px;height: 0px;font-size: 52;letter-spacing: 4px;font-style: normal;">Django / Python developer</p>
                </div>
                <div class="col-lg-12 col-xl-12 offset-lg-0 offset-xl-0 text-center d-block justify-content-center align-self-start me-auto" style="margin-bottom: 0px;height: 114.641px;padding-bottom: 0px;">
                    <p></p><i class="fa fa-linkedin-square fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true" style="margin-left: 10px;margin-right: 10px;font-size: 35px;"></i><i class="fab fa-github-square fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true" style="margin-left: 10px;margin-right: 10px;font-size: 35px;"></i><i class="fa fa-envelope-square fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true" style="margin-left: 10px;margin-right: 10px;font-size: 35px;"></i><i class="fa fa-facebook-square fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true" style="margin-left: 10px;margin-right: 10px;font-size: 35px;"></i>
                </div>
                <div class="col d-xl-flex justify-content-center align-items-center align-self-end align-items-xl-end" style="height: 70.656px;padding-bottom: 50px;"><i class="fa fa-arrow-circle-o-down d-xl-flex justify-content-center align-items-center align-items-xl-end fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true" style="margin: 0px;margin-left: 10px;margin-right: 10px;font-size: 35px;transform: scale(2.70);margin-top: 0px;padding-top: 0px;height: 30px;margin-bottom: 0px;width: 30px;"></i></div>
            </div>
        </div>
    </header>
    <section class="text-white bg-dark">
        <div class="container text-center">
            <h2 class="mb-4">Ready to do start something?</h2>
        </div>
        <div class="col-lg-4 col-xl-6 offset-lg-4 offset-xl-3 text-center me-auto">
            <p></p><i class="fa fa-envelope-square fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true" style="margin-left: 10px;margin-right: 10px;"></i><i class="fab fa-github-square fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true" style="margin-left: 10px;margin-right: 10px;"></i><i class="fa fa-linkedin-square fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true" style="margin-left: 10px;margin-right: 10px;"></i>
        </div>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/creative.js"></script>
</body>

</html>