{% extends "staticsite/layout.html" %}
{% load static %}

{% block body %}
            <div class="image-container">
                <img class="project-image" src="../static/images/portfolio.png">
            </div>
    <br><br>
    <h1>bertie taylor</h1>
    <h2>Python developer</h2>

    <div class="social-links">

        <a href="mailto:taftaylor@gmail.com">
            <i class="fa fa-envelope-square fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300"
               data-aos-delay="300" data-aos-once="true" ></i>
        </a>

        <a href="https://github.com/TheodoreTaylor" target="_blank">
            <i class="fab fa-github-square fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300"
               data-aos-delay="300" data-aos-once="true" ></i>
        </a>

        <a href="https://www.linkedin.com/in/theodore-taylor-70965569/" target="_blank">
            <i class="fa fa-linkedin-square fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300"
               data-aos-delay="300" data-aos-once="true" ></i>
        </a>

        <a href="https://www.youtube.com/channel/UC_E0GhOQtCubGgeSLRQcUoQ" target="_blank">
            <i class="fa fa-youtube-play fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300"
               data-aos-delay="300" data-aos-once="true"
               ></i>
        </a>

    </div>
{% endblock %}