{% load static %}

<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home - BT</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
</head>

{% include "staticsite/nav.html" %}

<body>
<div class="main-content">
    {% block body %}
    {% endblock %}
</div>
</body>

</html>