{% extends "staticsite/layout.html" %}

{% block body %}
    <section class="projects-board">
        <div class="card">
            <div class="image-container">
                <img class="project-image" src="../static/images/network.png">
            </div>
            <div class="container">
                <p>Fully responsive, retro-styled social media site.</p>
                <br>
                <p>Written in Django & Javascript.</p>
            </div>
            <div class="container icons">
                <a href="https://youtu.be/3wFqn7WJvlA" target="_blank">
                    <i class="fa fa-youtube-play fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300"
                       data-aos-delay="300" data-aos-once="true"
                       style="margin-left: 10px;margin-right: 10px;font-size: 35px;"></i>
                </a>

                <a href="https://github.com/TheodoreTaylor/Network-Site" target="_blank">
                    <i class="fab fa-github-square fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300"
                       data-aos-delay="300" data-aos-once="true"
                       style="margin-left: 10px;margin-right: 10px;font-size: 35px;"></i>
                </a>

                <a href="https://www.linkedin.com/in/theodore-taylor-70965569/" target="_blank">
                    <i class="fab fa-chrome fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300"
                       data-aos-delay="300" data-aos-once="true"
                       style="margin-left: 10px;margin-right: 10px;font-size: 35px;"></i>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="image-container">
                <img class="project-image" src="../static/images/portfolio.png">
            </div>
            <div class="container">
                <p>Online portfolio and project showcase.</p>
                <br>
                <p>Written in Django & Javascript.</p>
            </div>
            <div class="container icons">
                <a href="https://youtu.be/3wFqn7WJvlA" target="_blank">
                    <i class="fa fa-youtube-play fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300"
                       data-aos-delay="300" data-aos-once="true"
                       style="margin-left: 10px;margin-right: 10px;font-size: 35px;"></i>
                </a>

                <a href="https://github.com/TheodoreTaylor/Portfolio" target="_blank">
                    <i class="fab fa-github-square fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300"
                       data-aos-delay="300" data-aos-once="true"
                       style="margin-left: 10px;margin-right: 10px;font-size: 35px;"></i>
                </a>

                <a href="/" target="_blank">
                    <i class="fab fa-chrome fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300"
                       data-aos-delay="300" data-aos-once="true"
                       style="margin-left: 10px;margin-right: 10px;font-size: 35px;"></i>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="image-container">
                <img class="project-image" src="../static/images/weathered.png">
            </div>
            <div class="container">
                <p>Geo-location weather dashboard.</p>
                <br>
                <p>Written in Flask.</p>
            </div>
            <div class="container icons">
                <a href="https://youtu.be/3wFqn7WJvlA" target="_blank">
                    <i class="fa fa-youtube-play fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300"
                       data-aos-delay="300" data-aos-once="true"
                       style="margin-left: 10px;margin-right: 10px;font-size: 35px;"></i>
                </a>

                <a href="https://github.com/TheodoreTaylor/Network-Site" target="_blank">
                    <i class="fab fa-github-square fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300"
                       data-aos-delay="300" data-aos-once="true"
                       style="margin-left: 10px;margin-right: 10px;font-size: 35px;"></i>
                </a>

                <a href="https://www.linkedin.com/in/theodore-taylor-70965569/" target="_blank">
                    <i class="fab fa-chrome fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300"
                       data-aos-delay="300" data-aos-once="true"
                       style="margin-left: 10px;margin-right: 10px;font-size: 35px;"></i>
                </a>
            </div>
        </div>
    </section>

{% endblock %}